.advantages {
  & .container {
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__content {
    max-width: 107.4rem;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    @media (max-width: 768px) {
      width: 100%;
      gap: 1.2rem;
    }

    @media (max-width: 1024px) {
      max-width: 100%;
      width: 100%;
      justify-content: center;
    }
  }

  &__header, &__item {
    max-width: 52.7rem;
    width: 48.6%;

    @media (max-width: 768px) {
      width: 100%;
    }

    & .text-m {
      margin-top: 2.4rem;
      line-height: 3.2rem;

      @media (max-width: 768px) {
        margin-top: 2rem;
        line-height: 2rem;
      }
    }
  }

  &__header {

    @media (max-width: 1024px) {
      max-width: 100%;
      width: 100%;
    }
  }
  
  &__item {
    padding: 2.4rem;
    background-color: $grey;

    @media (max-width: 768px) {
      min-height: 22.4rem;
      padding: 2rem 1.6rem;
    }

    &_img {
      width: 9rem;
      height: 9rem;
      margin-bottom: 4rem;

      @media (max-width: 768px) {
        width: 6rem;
        height: 6rem;
        margin-bottom: 1.6rem;
      }
    }

    & .text-xs {
      margin-top: 1.2rem;
      color: rgba(29, 29, 27, 0.5);

      @media (max-width: 768px) {
        margin-top: 0.4rem;
      }
    }
  }

  &__img {
    max-width: 52.7rem;
    flex-shrink: 50;
    margin-left: 2rem;

    @media (max-width: 1024px) {
      display: none;
    }
  }
}