.contacts {
  &__wrap {
    position: relative;
    width: 100%;
    height: 62.4rem;

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column-reverse;
      height: auto;
    }
  }
  
  &__map {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;

    @media (max-width: 768px) {
      position: static;
      width: calc(100% + 3.2rem);
      height: 40rem;
      margin: 0 -1.6rem;
    }
  }

  &__inner {
    position: relative;
    top: 5rem;
    left: 5rem;
    z-index: 3;
    max-width: 60.2rem;
    padding: 5rem;

    background-color: $white;
    border: 0.1rem solid $accent;

    & .title {
      margin-bottom: 2.8rem;
    }

    @media (max-width: 768px) {
      position: static;
      margin-bottom: -16rem;
      padding: 2rem;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    @media (max-width: 768px) {
      gap: 1.6rem;
    }
  }

  &__item {
    &_header {
      display: flex;
      align-items: center;
      gap: 1.1rem;
      margin-bottom: 0.4rem;
    }

    &-icon {
      width: 2.4rem;
      height: 2.4rem;
    }

    & .text-xs {
      color: #8D9091;

    }

    & a.text-xs {

      &:hover {
        color: $accent;
      }
    }
  }
}