.delivery {
  &__title {
    margin-bottom: 4rem;

    @media (max-width: 768px) {
      margin-bottom: 2rem;
    }
  }

  &__tabs {
    overflow: visible !important;
    position: relative;
    z-index: 2;

    @media (max-width: 768px) {
      width: calc(100% + 3.2rem);
      padding: 0 1.6rem;
      margin-left: -1.6rem;
      overflow-x: scroll !important;

      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
    }

    > div {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 42.5rem;
      padding: 3.2rem 2.4rem;
      background-color: $accent;

      @media (max-width: 768px) {
        flex-direction: row;
        gap: 1.2rem;
        width: fit-content;
        padding: 1.6rem;
      }
    }

    &-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 768px) {
        flex-direction: column;
        justify-content: normal;
        align-items: normal;
        gap: 1.6rem;
      }
    }
  }

  &__tab {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 7rem;
    cursor: pointer;

    border: 0.1rem solid $white;
    color: $white;
    background-color: $accent;
    transition: color 0.3s, background-color 0.3s;

    @media (max-width: 768px) {
      height: auto;
      padding: 1.2rem .8rem;
      text-wrap: nowrap;
    }

    &.active, &:hover {
      background-color: $white;
      color: $accent;
    }

    &-content {
      display: none;

      &-wrap {
        position: relative;
        z-index: 0;
        margin-left: -11.3rem;
        width: 135.3rem;
        height: max-content;
        padding: 5rem 5rem 5rem 19.5rem;
        background-color: $grey;
        transition: height 0.3s;

        @media (max-width: 768px) {
          width: 100%;
          padding: 1.6rem;
          margin: 0;
        }
      }
    }

    &-inner {
      display: flex;
      gap: 4rem;
      width: 100%;

      @media (max-width: 768px) {
        flex-direction: column;
        gap: 1.6rem;
      }
    }

    &-desc {
      max-width: 60.5rem;
    }

    &-title {
      margin-bottom: 3.2rem;

      @media (max-width: 768px) {
        margin-bottom: 1.6rem;
      }
    }

    &-text {
      & p:not(:last-child) {
        margin-bottom: 0.9rem;
      }
    }

    &_img {
      width: 46.3rem;

      @media (max-width: 768px) {
        width: 100%;
        height: 17.5rem;
      }
    }
  }
}