.form-calc {
  position: relative;
  background-color: $black;

  &__img {
    position: absolute;
    z-index: 1;
    left: 0;
    width: 50%;
    height: 100%;

    @media (max-width: 1024px) {
      display: none;
    }

    &::before {
      content: "";
      position: absolute;
      display: block;
      z-index: 2;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  &__content {
    margin: 0 0 0 auto;
    max-width: 73rem;
    width: 51dvw;
    padding: 6rem 0 6rem 8.2rem;

    @media (max-width: 1024px) {
      width: 100%;
      padding: 3.6rem 0;
      margin: 0 auto;
    }

    & .title {
      color: $white;
      margin-bottom: 1.6rem;

      @media (max-width: 768px) {
        margin-bottom: 2rem;
      }
    }

    & .text {
      color: $white;
      line-height: 3.2rem;

      @media (max-width: 768px) {
        line-height: 2rem;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 2.8rem;
    margin-top: 4rem;

    @media (max-width: 768px) {
      gap: 2.8rem;
      margin-top: 2.4rem;
    }
  }

  &__input {
    background-color: $white;

    &.comment {
      min-height: 9.7rem;

      @media (max-width: 768px) {
        min-height: 9.1rem;
      }
    }

    &-group {
      position: relative;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
      flex-direction: column-reverse;
      margin-top: 0.8rem;
      gap: 1.2rem;
    }
  }
}