.header {
  background-color: $black;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.3rem 0;
  }

  &__logo {
    width: 18rem;
  }

  &__nav {

    & a {
      color: $white;
      font-weight: 500;
    }

    & ul {
      display: flex;
      align-items: center;
      gap: 3.5rem;
    }

    &_item {
      &-icon {
        transform: rotate(270deg);
      }

      &.dropdown {
        position: relative;
        display: flex;
        align-items: center;
        gap: 0.8rem;
      }

      & .text-sm {
        color: $white;
      }
    }
  }

  &__dropdown {
    display: none;
    top: 150%;
    left: -5rem;
    position: absolute;
    z-index: 100;
    width: fit-content;
    padding: 2.4rem;
    background-color: $black;

    & ul {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      & .text-m {
        color: $white;
        transition: color 0.2s;

        &:hover {
          color: $accent;
        }
      }
    }


  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    &-wrap {
      display: flex;
      align-items: center;
      gap: 3rem;
    }

    &-item {
      display: flex;
      align-items: center;

      & span {
        font-size: 1.6rem;
        line-height: 2.8rem;
        font-weight: 500;
        color: $white;
      }
    }

    &-icon {
      width: 2.4rem;
      height: 2.4rem;
      display: inline-block;
      margin-right: 1.1rem;
    }
  }
}