.hero{
  position: relative;
  background-color: $grey;

  &__image {
    position: absolute;
    z-index: 0;
    width: 48%;
    height: 100%;
    right: 0;
    top: 0;

    @media (max-width: 1024px) {
      width: 100%;
    }
  }

  .content {
    position: relative;
    z-index: 1;
    max-width: 100%;
    width: 90vw;
    margin: 0 auto;
    padding: 6rem 0 5.6rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    @media (max-width: 1024px) {
      flex-direction: column;
      align-items: center;
      padding-top: 0;
    }

    @media (max-width: 768px) {
      width: 100%;
    }

    &__left {
      max-width: 79rem;
      width: 55%;

      @media (max-width: 1024px) {
        background-color: $grey;
        width: 100%;
        margin-bottom: 6rem;
        padding: 4rem 1.5rem 2.2rem;
      }

      & .title {
        margin: 11.5rem 0 2.8rem;

        @media (max-width: 768px) {
          margin: 0rem 0 2rem;

        }
      }

      & .form {
        display: flex;
        flex-direction: column;
        gap: 3.2rem;

        padding: 3.6rem;
        background-color: $white;

        &__inputs {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 2.8rem;
        }

        & .text-m {
          font-size: 2.4rem;
          line-height: 3.2rem;

          @media (max-width:768px) {
            font-size: 1.6rem;
            line-height: 2rem;
          }
        }

        &__input-group {
          position: relative;
        }

        @media (max-width:768px) {
          gap: 2rem;
          padding: 1.2rem;
        }
      }
    }

    &__right {
      position: relative;
      left: 4dvw;
      max-width: 82.4rem;
      width: 55%;
      display: flex;
      justify-content: space-between;
      padding: 2.5rem 4.1rem;
      background-color: $white;

      @media (max-width: 1024px) {
        max-width: 79rem;
        width: 100%;
        left: 0;
      }

      @media (max-width: 48em) {
        padding: 1.2rem 3.5rem 1.4rem;
      
      }
    }

    &__item {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.7rem;
      max-width: 20.5rem;

      & .text-s {
        text-align: center;
      }

      &_img {
        width: 7.1rem;
        height: 7.1rem;

        @media (max-width:768px) {
          width: 6.5rem;
          height: 6.5rem;
        }
      }

      &:not(:last-child):after {
        content: '';
        position: absolute;
        top: 2.1rem;
        right: -1dvw;
        display: block;
        width: 0.1rem;
        height: 8.8rem;
        background-color: $grey;

        @media (max-width:768px) {
          height: 8.1rem;
          top: 1.1rem;
          right: -2rem;
        }
      }

      @media (max-width: 48em) {
        max-width: 13rem;
        gap: 0;
      }

      @media (max-width: 420px) {
        &:nth-child(2) {
          display: none;
        }
      }
    }
  }

  & .container {
    @media (max-width: 48em) {
      padding: 0;
    }
  }
}