.modal {
  position: fixed;
  z-index: 500;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(75, 75, 75, 0.20);
    backdrop-filter: blur(15px);
  }
  &.active {
    display: flex;
    animation: fade-in 0.5s ease-in-out;
  }
  &__wrapper {
    position: relative;
    z-index: 2;
    max-width: 143.2rem;
    width: 80%;
  }
  &__close {
    position: absolute;
    z-index: 2;
    right: -6.6rem;
    top: 0;
    width: 6rem;
    height: 6rem;
    cursor: pointer;
    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}