.stages {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5.7rem;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 2.8rem;
      gap: 2rem;
    }

    & .text {
      max-width: 75.6rem;
      width: 50%;
      line-height: 3.2rem;

      @media (max-width: 768px) {
        width: 100%;
        line-height: 2rem;
      }
    }
  }

  &__content {
    display: flex;
    gap: 6.7rem;

    @media (max-width: 1024px) {
      flex-direction: column;
      gap: 2.5rem;
    }
  }

  &__items {
    max-width: 62.4rem;
    flex: 62.4rem;
    display: flex;
    flex-direction: column;
    gap: 6.8rem;

    @media (max-width: 1024px) {
      flex: none;
      width: 100%;
      order: 2;
      margin: 0 auto;
    }

    @media (max-width: 768px) {
      width: 100%;
      order: 2;
      gap: 4.5rem;
    }
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2.1rem;

    &_img {
      position: relative;
      flex: none;
      width: 10rem;
      height: 10rem;
      padding: 2.5rem;
      background-color: $grey;
      border-radius: 50%;

      @media (max-width: 768px) {
        width: 8rem;
        height: 8rem;
        padding: 1.8rem;
      }
    }

    &:not(:last-child) &_img::after {
      content: '';
      position: absolute;
      display: block;
      top: calc(100% + .8rem);
      left: 50%;
      width: 1px;
      height: 5.2rem;
      background-color: $black;

      @media (max-width: 768px) {
        height: 2.9rem;
      }
    }

    &_text {
      flex: auto;
      display: flex;
      flex-direction: column;
      gap: .8rem;
      max-width: 50.3rem;
      width: 60%;

      @media (max-width: 1024px) {
        width: 95%;
      }
    }
  }

  &__right {
    flex: 92.8rem;
    max-width: 92.8rem;

    @media (max-width: 1024px) {
      flex: none;
      width: 100%;
      max-width: none;
    }

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column-reverse;
    }

    &_article {
      position: relative;
      z-index: 2;
      max-width: 64.4rem;
      width: 50dvw;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      gap: 10.2rem;
      padding: 2.4rem 7.9rem;
      background-color: $grey;

      @media (max-width: 1024px) {
        width: 100%;
      }

      @media (max-width: 768px) {
        width: 100%;
        top: 0;
        padding: 1rem 2.3rem;
        margin-top: -4.5rem;
        gap: 3.6rem;
      }
    }

    &_item {
      position: relative;

      &:not(:last-child)::after {
        content: '';
        position: absolute;
        display: block;
        top: 0.6rem;
        right: -5dvw;
        width: 0.1rem;
        height: 8.5rem;
        background-color: $accent;

        @media (max-width: 768px) {
          height: 5.7rem;
        }
      }
    }

    &_img {
      position: relative;
      z-index: 0;
      margin-top: -7.2rem;

      @media (max-width: 768px) {
        width: calc(100% + 3.2rem);
        margin: 0 -1.6rem;
        top: 0;
      }
    }
  }
}