.steps {
  
  &__header {
    display: flex;
    margin-bottom: 4rem;
    gap: 6.6rem;

    @media (max-width: 1024px) {
      flex-direction: column;
      gap: 1.6rem;
      margin-bottom: 1.8rem;
    }
  }

  &__title {
    width: 80rem;

    @media (max-width: 1024px) {
      width: 100%;
    }
  }

  &__list {
    display: flex;
    gap: 2.1rem;
    margin-bottom: 4rem;

    @media (max-width: 1024px) {
      width: 100%;
      flex-direction: column;
      gap: 2rem;
    }

    @media (max-width: 768px) {
      margin-bottom: 0;
    }
  }

  &__item {
    width: 52.5rem;
    padding: 2rem;
    background-color: $grey;

    @media (max-width: 1024px) {
      width: 100%;
      padding: 1.2rem;
    }

    &_img {
      width: 100%;
      height: 23.3rem;
      margin-bottom: 0.8rem;

      @media (max-width: 768px) {
        height: auto;
        margin-bottom: 0.5rem;
      }
    }

    & .number {
      font-size: 2.4rem;
      line-height: 120%;
      margin-bottom: 4.4rem;
      opacity: 0.2;

      @media (max-width: 768px) {
        font-size: 1.6rem;
        line-height: 2rem;
        margin-bottom: 2.8rem;
      }
    }

    &_list {
      margin-top: 2rem;

      & li {
        position: relative;
        padding-left: 2.8rem;

        @media (max-width: 768px) {
          padding-left: 1.8rem;
        }

        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 0.6rem;
          display: block;
          width: 1.6rem;
          height: 1.6rem;
          background-color: #00AAA3;
          background-clip: padding-box;
          border-radius: 50%;
          border: 0.3rem solid rgba(0, 170, 163, 0.2);

          @media (max-width: 768px) {
            top: 0.2rem;
            border-width: 0.4rem;
          }
        }

        &:not(:last-child) {
          margin-bottom: 1.6rem;

          @media (max-width: 768px) {
            margin-bottom: 1rem;
          }
        }
      }
    }
  }

  & button {
    margin: 0 auto;

    @media (max-width: 768px) {
      display: none;
    }
  }
}