<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__contacts">
        <div class="footer__contacts-left">
          <div class="footer__logo">
            <img src="./assets/images/logo.png" alt="" />
          </div>
          <button class="button white">Заказать звонок</button>
          <a class="footer__social text-m" href="#0">
            <div class="footer__social-icon">
              <img src="./assets/images/icons/vk.svg" alt="" />
            </div>
            ВКонтакте
          </a>
          <p class="footer__contacts-desc text-m">
            © 2022 «МикроЭМ Технологии», <br>Все права защищены
          </p>
        </div>
        <div class="footer__contacts-right">
          <div class="footer__contacts_list contacts__list">
            <div class="contacts__item">
              <div class="contacts__item_header">
                <div class="contacts__item-icon">
                  <img src="./assets/images/icons/mail-w.svg" alt="" />
                </div>
                <span class="text-m">E-mail</span>
              </div>
              <a class="text-xs" href="#0">smt@microem.ru</a>
            </div>
            <div class="contacts__item">
              <div class="contacts__item_header">
                <div class="contacts__item-icon">
                  <img src="./assets/images/icons/tel-w.svg" alt="" />
                </div>
                <span class="text-m">Телефон</span>
              </div>
              <a class="text-xs" href="#0">7 (499) 700-09-90</a>
            </div>
            <div class="contacts__item">
              <div class="contacts__item_header">
                <div class="contacts__item-icon">
                  <img src="./assets/images/icons/office-w.svg" alt="" />
                </div>
                <span class="text-m">Головной офис</span>
              </div>
              <p class="text-xs">
                г. Москва, Зеленоград, Сосновая аллея, д. 6А
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__nav">
        <div class="footer__nav-services">
          <p class="footer__nav-title text-m">
            Услуги
          </p>
          <ul class="footer__nav-list">
            <li class="footer__nav-item">
              <a class="text-xs" href="#0">
                Разработка электроники
              </a>
            </li>
            <li class="footer__nav-item">
              <a class="text-xs" href="#0">
                Монтаж печатных плат
              </a>
            </li>
            <li class="footer__nav-item">
              <a class="text-xs" href="#0">
                Паяльные материалы
              </a>
            </li>
            <li class="footer__nav-item">
              <a class="text-xs" href="#0">
                Поставка компонентов
              </a>
            </li>
            <li class="footer__nav-item">
              <a class="text-xs" href="#0">
                Поставка печатных плат
              </a>
            </li>
          </ul>
        </div>
        <div class="footer__nav-about">
          <p class="footer__nav-title text-m">
            О компании
          </p>
          <ul class="footer__nav-list">
            <li class="footer__nav-item">
              <a class="text-xs" href="#0">
                Преимущества
              </a>
            </li>
            <li class="footer__nav-item">
              <a class="text-xs" href="#0">
                Отзывы
              </a>
            </li>
            <li class="footer__nav-item">
              <a class="text-xs" href="#0">
                Портфолио
              </a>
            </li>
            <li class="footer__nav-item">
              <a class="text-xs" href="#0">
                Вакансии
              </a>
            </li>
          </ul>
        </div>
        <div class="footer__nav-help">
          <p class="footer__nav-title text-m">
            Помощь
          </p>
          <ul class="footer__nav-list">
            <li class="footer__nav-item">
              <a class="text-xs" href="#0">
                Контакты
              </a>
            </li>
            <li class="footer__nav-item">
              <a class="text-xs" href="#0">
                Экскурсия
              </a>
            </li>
            <li class="footer__nav-item">
              <a class="text-xs" href="#0">
                Новости
              </a>
            </li>
          </ul>
          <div class="footer__nav-icons">
            <div class="footer__nav-icon">
              <img src="./assets/images/icons/footer1.svg" alt="" />
            </div>
            <div class="footer__nav-icon">
              <img src="./assets/images/icons/footer2.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>