<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__logo">
        <img src="./assets/images/logo.png" alt="" />
      </div>
      <nav class="header__nav">
        <ul>
          <li class="header__nav_item dropdown">
            <a class="title-sm" href="#0">Каталог</a>
            <div class="header__nav_item-icon">
              <img src="./assets/images/icons/arr.svg" alt="" />
            </div>
            <div class="header__dropdown">
              <ul>
                <li class="header__nav_item">
                  <a class="text-m" href="#0">Преимущества</a>
                </li>
                <li class="header__nav_item">
                  <a class="text-m" href="#0">Отзывы</a>
                </li>
                <li class="header__nav_item">
                  <a class="text-m" href="#0">Портфолио</a>
                </li>
                <li class="header__nav_item">
                  <a class="text-m" href="#0">Вакансии</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="header__nav_item dropdown">
            <a class="title-sm" href="#0">Услуги</a>
            <div class="header__nav_item-icon">
              <img src="./assets/images/icons/arr.svg" alt="" />
            </div>
            <div class="header__dropdown">
              <ul>
                <li class="header__nav_item">
                  <a class="text-m" href="#0">Преимущества</a>
                </li>
                <li class="header__nav_item">
                  <a class="text-m" href="#0">Отзывы</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="header__nav_item">
            <a class="title-sm" href="#0">Контакты</a>
          </li>
          <li class="header__nav_item">
            <a class="title-sm" href="#0">Экскурсия</a>
          </li>
          <li class="header__nav_item">
            <a class="title-sm" href="#0">Новости</a>
          </li>
        </ul>
      </nav>
      <div class="header__contacts-wrap">
        <div class="header__contacts">
          <a class="header__contacts-item" href="#0">
            <div class="header__contacts-icon">
              <img src="./assets/images/icons/mail2.svg" alt="" />
            </div>
            <span>smt@microem.ru</span>
          </a>
          <a class="header__contacts-item" href="#0">
            <div class="header__contacts-icon">
              <img src="./assets/images/icons/tel2.svg" alt="" />
            </div>
            <span>7 (499) 700-09-90</span>
          </a>
        </div>
        <button class="button white">Заказать звонок</button>
      </div>
    </div>
  </div>
</header>