@import "./scss/fonts";
@import './scss/libs/normalize';
@import "./scss/libs/_set";
@import "./scss/general";

@import "./scss/components/hero";
@import "./scss/components/steps";
@import "./scss/components/areas";
@import "./scss/components/advantages";
@import "./scss/components/form";
@import "./scss/components/stages";
@import "./scss/components/experts";
@import "./scss/components/about";
@import "./scss/components/delivery";
@import "./scss/components/products";
@import "./scss/components/contacts";
@import "./scss/components/header";
@import "./scss/components/footer";
@import "./scss/components/modal";