@font-face {
	font-family: 'Montserrat';
	src: url('./assets/fonts/Montserrat-Regular.eot');
	src: local('Montserrat-Regular'), local('Montserrat-Regular'),
			url('./assets/fonts/Montserrat-Regular.woff') format('woff')
			;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('./assets/fonts/Montserrat-Bold.eot');
	src: local('Montserrat-Bold'), local('Montserrat-Bold'),
			url('./assets/fonts/Montserrat-Bold.woff') format('woff')
			;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('./assets/fonts/Montserrat-SemiBold.eot');
	src: local('Montserrat-SemiBold'), local('Montserrat-SemiBold'),
			url('./assets/fonts/Montserrat-SemiBold.woff') format('woff')
			;
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('./assets/fonts/Montserrat-Medium.eot');
	src: local('Montserrat-Medium'), local('Montserrat-Medium'),
			url('./assets/fonts/Montserrat-Medium.woff') format('woff')
			;
	font-weight: 500;
	font-style: normal;
}