//colors
$white: #ffffff;
$black: #292929;
$accent: #00AAA3;
$red: #EE443F;
$grey: #F6F6F6;
$dark-grey: #8D9091;

// * {
//   outline:1px solid #E33C18;
// }

//mixin

@mixin swiper-btn-top {
  top: -10.6rem;
}
@mixin swiper-btn-prev-top {
  left: calc(100% - 12.8rem);
}
@mixin swiper-btn-next-top {
  right: 0;
}

@mixin swiper-btn-midle {
  top: 50%;
}
@mixin swiper-btn-prev-midle {
  left: -2.8rem;
}
@mixin swiper-btn-next-midle {
  right: -2.8rem;
}

body {
  color: $black;
  font-family: "Montserrat";
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a:hover {
  color: $accent;
  & span {
     color: $accent;
  }
}

.breadcrumbs {
  &__item {
    position: relative;
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 500;
    color: $dark-grey;

    &:not(:first-child) {
      margin-left: 1.6rem;
    
      &:after {
        content: '\\';
        position: absolute;
        left: -1.1rem;
        color: inherit;
      }
    }

    &.current {
      color: $black;
      pointer-events: none; 
      cursor: default;
    }
  }
  
  @media (max-width: 768px) {
    display: none;
  }
}

//checkbox
input, textarea {
  width: 100%;
  background-color: $grey;
  padding: 1.6rem 2.4rem;
  font-size: 2rem;
  font-weight: 400;
  border: 0.1rem solid transparent;

  &::placeholder {
    color: $black;
    opacity: 0.5;
  }

  @media (max-width:768px) {
    padding: 1.2rem 1rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}

input[type=file] {
  display: none;
}

form input.invalid {
  border: 0.1rem solid $red;
  color: #C72E37;
  background-color: #FDECEC;
}


//text
.title {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 5.6rem;
  color: $black;

  @media (max-width:768px) {
    font-size: 2.8rem;
    line-height: 3.2rem;
  }
}

.title-sm {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3.3rem;
  color: $black;

  @media (max-width:768px) {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

.title-s {
  font-size: 4rem;
  font-weight: 700;
  line-height: normal;
  color: $black;

  @media (max-width:768px) {
    font-size: 2.8rem;
    line-height: auto;
  }
}

.title-xs {
  font-size: 4rem;
  font-weight: 600;
  line-height: 4.8rem;
  color: $black;

  @media (max-width:768px) {
    font-size: 2.8rem;
    line-height: 3.2rem;
  }
}

.text {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: $black;

  @media (max-width:768px) {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

.text-l {
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 4rem;
  color: $black;

  @media (max-width:768px) {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

.text-m {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.8rem;
  color: $black;

  @media (max-width:768px) {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

.text-s {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.8rem;
  color: $black;

  @media (max-width:768px) {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}

.text-xs {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: $black;

  @media (max-width:768px) {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}

.num {
  font-size: 10rem;
  font-weight: 500;
  line-height: 12rem;
  color: $accent;

  @media (max-width:768px) {
    font-size: 5rem;
    line-height: 6.8rem;
  }
}

//buttons

.button, input::file-selector-button {
  display: flex;
  justify-content: center;
  padding: 2rem 3.7rem;
  align-items: center;
  color: $white;
  font-family: "Montserrat";
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 2.8rem;
  width: fit-content;
  background-color: $accent;
  transition: background-color 0.3s;
  cursor: pointer;
 
  &:hover {
    background-color: #0ad6bb;
  }

  @media (max-width:768px) {
    width: 100%;
    padding: 1.2rem 0.8rem;
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
}

.white {
  background-color: $white;
  color: $black;
}

.load-file {
  &__label {
    min-width: 29.5rem;
    padding: 1.2rem;

    @media (max-width:768px) {
      width: 100%;
      min-height: 4.8rem;
      padding: 0.6rem 0.8rem;
    }
  }

  &__uploaded {
    width: 100%;
    display: flex;
    align-items: center;

  }

  &__icon {
    width: 3.6rem;
    height: 3.6rem;
    margin-right: 0.8rem;

    @media (max-width:768px) {
      width: 3.2rem;
      height: 3.2rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__text {
    overflow: hidden;
    max-width: 19.4rem;
    width: fit-content;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    color: $black;

    @media (max-width:768px) {
      font-size: 1.2rem;
      max-width: 25.6rem;
    }
  }
}

.close {
  width: 2.4rem;
  height: 2.4rem;
  margin: 0 0 0 auto;
  cursor: pointer;
}

.accent {
  color: $accent;
}

.btn-prev.swiper-button-prev,
.btn-next.swiper-button-next {
  position: relative;
  width: 5.6rem;
  height: 5.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, opacity 0.3s;
  margin: 0;
  background-color: $accent;
  overflow: hidden;
  padding: 0;

  & img {
    width: 2.4rem;
    height: 2.4rem;
  }

  &:hover {
    background-color: $black;
  }
  
  &::after {
    display: none;
  }

  @media (max-width:768px) {
    display: none;
  }
}

.btn-next.swiper-button-next img {
  transform: rotate(180deg);
}

.btn-prev.swiper-button-disabled, .btn-next.swiper-button-disabled {
  opacity: 0.5;
  cursor: alias;
}

.swiper-pagination {
  & .swiper-pagination-bullet {
    width: 2rem;
    height: 2rem;
    background-color: #C5E7E6;

    &-active {
      background-color: $accent;
    }

    @media (max-width:768px) {
      width: 1.2rem;
      height: 1.2rem;
    }
  }
}

.error {
  position: absolute;
  bottom: -2.4rem;
  display: none;
  font-size: 1.4rem;
  line-height: 1.6rem;
  margin-top: 0.4rem;

  & span {
    color: $red;
  }
  &__icon {
    position: relative;
    top: 0.2rem;
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 0.3rem;
  }

  &.active {
    display: block;
  }
}

.hidden{
  display: none;
}